<div class="container">
  <h1 class="text-center mt-4">Bienvenido a Comipy</h1>
  <p class="text-center mt-3">
    Comipy es una aplicación diseñada para gestionar cursos, alumnos,
    asistencias y actividades de difusión. Facilita la administración de
    información y mejora la experiencia educativa.
  </p>

  <div class="row mt-5">
    <div class="col-md-8">
      <div class="list-group">
        <a routerLink="/cursos" class="list-group-item list-group-item-action">
          Cursos
        </a>
        <a routerLink="/alumnos" class="list-group-item list-group-item-action">
          Alumnos
        </a>
        <a
          routerLink="/asistencias"
          class="list-group-item list-group-item-action"
        >
          Asistencias
        </a>
        <a
          routerLink="/difusion"
          class="list-group-item list-group-item-action"
        >
          Difusión
        </a>
        <a routerLink="/admin" class="list-group-item list-group-item-action">
          Administración
        </a>
      </div>
    </div>

    <aside class="col-md-4 mt-4 mt-md-0">
      <h2>Eventos</h2>
      <ul class="list-group">
        <li class="list-group-item">15 de Junio - Día del Padre</li>
        <li class="list-group-item">21 de Junio - Solsticio de Verano</li>
        <li class="list-group-item">28 de Junio - Conferencia de Tecnología</li>
        <li class="list-group-item">30 de Junio - Fin de Trimestre</li>
      </ul>
    </aside>
  </div>
</div>
