<div class="container">
  <h1 class="text-center mt-4">{{ cursoData.identificador }}</h1>
  <ul class="nav nav-tabs" id="courseTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="detail-tab"
        data-toggle="tab"
        href="#detail"
        role="tab"
        aria-controls="detail"
        aria-selected="true"
        >Detalle</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="schedule-tab"
        data-toggle="tab"
        href="#schedule"
        role="tab"
        aria-controls="schedule"
        aria-selected="false"
        >Horarios</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="gallery-tab"
        data-toggle="tab"
        href="#gallery"
        role="tab"
        aria-controls="gallery"
        aria-selected="false"
        >Galería de Imágenes</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="temario-tab"
        data-toggle="tab"
        href="#temario"
        role="tab"
        aria-controls="temario"
        aria-selected="false"
        >Temario</a
      >
    </li>
  </ul>
  <div class="tab-content" id="courseTabContent">
    <div
      class="tab-pane fade show active"
      id="detail"
      role="tabpanel"
      aria-labelledby="detail-tab"
    >
      <div class="mt-4">
        <h2>Detalles del Curso</h2>
        <p>{{ cursoData.descripcion }}</p>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="schedule"
      role="tabpanel"
      aria-labelledby="schedule-tab"
    >
      <div class="mt-4">
        <h2>Horarios</h2>
        <div class="accordion" id="scheduleAccordion">
          <div *ngFor="let horario of cursoData.horarios" class="card">
            <div class="card-header" [attr.id]="'heading' + horario.dia_semana">
              <h2 class="mb-0">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  [attr.data-target]="'#collapse' + horario.dia_semana"
                  aria-expanded="true"
                  [attr.aria-controls]="'collapse' + horario.dia_semana"
                >
                  {{ horario.dia_semana }}
                </button>
              </h2>
            </div>
            <div
              [attr.id]="'collapse' + horario.dia_semana"
              class="collapse"
              [attr.aria-labelledby]="'heading' + horario.dia_semana"
              data-parent="#scheduleAccordion"
            >
              <div class="card-body">
                <ul>
                  <li>
                    Hora de Inicio: {{ horario.hora_inicio }} <br />
                    Duración: {{ horario.duracion }} minutos <br />
                    Turno: {{ horario.turno }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="gallery"
      role="tabpanel"
      aria-labelledby="gallery-tab"
    >
      <div class="mt-4">
        <h2>Galería de Imágenes</h2>
        <div class="row">
          <div class="col-md-4">
            <img src="imagen1.jpg" class="img-fluid" alt="Imagen 1" />
          </div>
          <div class="col-md-4">
            <img src="imagen2.jpg" class="img-fluid" alt="Imagen 2" />
          </div>
          <div class="col-md-4">
            <img src="imagen3.jpg" class="img-fluid" alt="Imagen 3" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="temario"
      role="tabpanel"
      aria-labelledby="temario-tab"
    >
      <div class="mt-4">
        <h2>Temario del Curso</h2>
        <ul class="list-group">
          <li *ngFor="let tema of cursoData.temas" class="list-group-item">
            <h5>{{ tema.titulo }}</h5>
            <p>{{ tema.descripcion }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
