<div class="container">
  <h1 class="text-center mt-4">Registro de Horario</h1>
  <form [formGroup]="horarioForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="curso">Curso</label>
      <select
        class="form-control"
        id="curso"
        formControlName="curso_id"
        required
      >
        <option value="">Seleccione un curso</option>
        <option *ngFor="let curso of cursosData" [value]="curso.curso_id">
          {{ curso.identificador }}
        </option>
      </select>
      <div
        *ngIf="
          horarioForm.get('curso_id')?.invalid &&
          horarioForm.get('curso_id')?.touched
        "
        class="text-danger"
      >
        El curso es requerido.
      </div>
    </div>
    <div class="form-group">
      <label for="dia_semana">Día de la Semana</label>
      <select
        class="form-control"
        id="dia_semana"
        formControlName="dia_semana"
        required
      >
        <option value="">Seleccione un día</option>
        <option *ngFor="let dia of diasSemana" [value]="dia">{{ dia }}</option>
      </select>
      <div
        *ngIf="
          horarioForm.get('dia_semana')?.invalid &&
          horarioForm.get('dia_semana')?.touched
        "
        class="text-danger"
      >
        El día de la semana es requerido.
      </div>
    </div>
    <div class="form-group">
      <label for="hora_inicio">Hora de Inicio</label>
      <input
        type="time"
        class="form-control"
        id="hora_inicio"
        formControlName="hora_inicio"
        required
      />
      <div
        *ngIf="
          horarioForm.get('hora_inicio')?.invalid &&
          horarioForm.get('hora_inicio')?.touched
        "
        class="text-danger"
      >
        La hora de inicio es requerida.
      </div>
    </div>
    <div class="form-group">
      <label for="duracion">Duración (minutos)</label>
      <input
        type="number"
        class="form-control"
        id="duracion"
        formControlName="duracion"
        min="0"
        required
      />
      <div
        *ngIf="
          horarioForm.get('duracion')?.invalid &&
          horarioForm.get('duracion')?.touched
        "
        class="text-danger"
      >
        La duración es requerida y debe ser un valor positivo.
      </div>
    </div>
    <div class="form-group">
      <label for="turno">Turno</label>
      <input
        type="text"
        class="form-control"
        id="turno"
        formControlName="turno"
        maxlength="20"
        required
      />
      <div
        *ngIf="
          horarioForm.get('turno')?.invalid && horarioForm.get('turno')?.touched
        "
        class="text-danger"
      >
        El turno es requerido y no debe exceder los 20 caracteres.
      </div>
    </div>
    <button
      type="submit"
      [disabled]="!horarioForm.valid"
      class="btn btn-primary"
    >
      Registrar
    </button>
  </form>
</div>
