<div class="container">
  <h1 class="text-center">Lista de Cursos</h1>
  <div class="row">
    <div class="col-md-12">
      <input
        type="text"
        id="search"
        class="form-control"
        placeholder="Buscar curso..."
      />
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <ul class="list-group" id="course-list">
        <li class="list-group-item course-item">
          <a href="curso-python.html">Curso de Programación en Python</a>
        </li>
        <li class="list-group-item course-item">
          <a href="curso-bases-datos.html">Introducción a Bases de Datos</a>
        </li>
        <li class="list-group-item course-item">
          <a href="curso-diseno-web.html">Diseño de Páginas Web</a>
        </li>
        <li class="list-group-item course-item">
          <a href="curso-pensamiento-computacional.html"
            >Pensamiento Computacional</a
          >
        </li>
        <li class="list-group-item course-item">
          <a href="curso-java.html">Fundamentos de Java</a>
        </li>
      </ul>
    </div>
  </div>
</div>
