<div class="container">
  <h1 class="text-center mt-4">Administración de Comipy</h1>
  <p class="text-center mt-3">
    En esta sección puedes gestionar los registros de alumnos, docentes, cursos,
    horarios y temas.
  </p>

  <div class="list-group mt-5">
    <a
      routerLink="/admin/registrar-docente"
      class="list-group-item list-group-item-action"
    >
      Registrar Docente
    </a>
    <a
      routerLink="/admin/registrar-curso"
      class="list-group-item list-group-item-action"
    >
      Registrar Curso
    </a>
    <a
      routerLink="/admin/registrar-horario"
      class="list-group-item list-group-item-action"
    >
      Registrar Horario
    </a>
    <a
      routerLink="/admin/registrar-tema"
      class="list-group-item list-group-item-action"
    >
      Registrar Tema
    </a>
    <!-- Más opciones se pueden añadir aquí -->
  </div>
</div>
